{
  "tailwindStylesheet": "./src/styles.css",
  "plugins": [
    "tailwindcss-primeui",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindAttributes": [
    "styleClass",
    "inputStyleClass",
    "panelStyleClass",
    "overlayStyleClass",
    "containerClass"
  ],
  "tailwindPreserveDuplicates": true,
  "singleQuote": true
}
