{
  "tailwindStylesheet": "./src/styles.css",
  "plugins": [
    "tailwindcss-primeui",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindAttributes": [
    "class",
    "className",
    "classes",
    "classList",
    "ngClass",
    "styleClass",
    "inputStyleClass",
    "panelStyleClass",
    "overlayStyleClass",
    "containerClass"
  ],
  "tailwindPreserveDuplicates": true,
  "singleQuote": true
}
