<!-- Sidebar -->
<aside
    class="fixed top-0 left-0 z-20 w-64 overflow-hidden border-r border-t-gray-600 border-r-gray-300 transition-all duration-500 ease-in-out h-dvh max-h-dvh">
  <div class="flex h-full max-h-full w-full flex-col flex-wrap justify-items-start transition-all duration-300 ease-in-out">
    <div class="relative flex h-16 w-64 items-center justify-center px-4 -py-2">
      <img alt="logo" fill ngSrc="images/whiteBgColor.png" priority/>
    </div>
    <div class="flex-1 overflow-auto p-3">
      <app-navigation [navCollapsed]="navCollapsed()"/>
    </div>
    <div class="flex flex-nowrap items-center justify-start gap-x-2 border-t border-t-gray-600 dark:border-t-gray-300 p-3 dark:text-white">
      <p-avatar [image]="currentUser?.picture" class="mr-2" shape="circle" size="large"/>
      <p>{{ currentUser?.name }}</p>
    </div>
  </div>
</aside>

<!-- Main content -->
<main class="relative ml-64 w-available h-screen overflow-x-hidden overflow-y-auto">
  <router-outlet/>
</main>
