<p-dialog [(visible)]="visible"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [draggable]="false"
          [header]="title()"
          [modal]="true"
          [resizable]="false"
          [style]="{ width: '50vw' }">

  <ng-content/>

  <ng-template #footer>
    <div class="shrink-0 gap-(--p-dialog-footer-gap) pt-2.5 flex justify-end-safe items-center border-t border-t-indigo-200 dark:border-t-gray-300 w-full">
      @if (showConfirmButton()) {
        <p-button [label]="confirmButtonLabel()" (click)="confirm()" [disabled]="!valid()" icon="pi pi-check"/>
        <p-button [label]="cancelButtonLabel()" (click)="cancel()" icon="pi pi-times"/>
      } @else {
        <p-button label="Fermer" (click)="closeDialog()" icon="pi pi-times"/>
      }
    </div>
  </ng-template>
</p-dialog>
