@reference 'tailwindcss';

:host {
    --p-dialog-header-padding: .5rem .75rem;
    --p-dialog-content-padding: .5rem .75rem;
    --p-dialog-footer-padding: .5rem .75rem;

    .p-dialog-header {
        @apply border-b border-b-indigo-300 dark:border-b-gray-300;
    }
}

.p-dialog-header {
    @apply border-b border-b-indigo-200 dark:border-b-gray-300;
}
