<app-page-header pageTitle="Appel d'offres">
  <ng-container right-action>
    <p-button (click)="displayDialog()" icon="pi pi-plus" label="Ajouter" outlined raised size="small"/>
  </ng-container>
</app-page-header>
<div class="h-[2000px] bg-purple-950"></div>

<app-dialog (onCancel)="cancelAction()"
            (onConfirm)="createOffer()"
            [(visible)]="showDialog"
            [title]="title()"
            [valid]="form.valid"
            showConfirmButton>
  <form [formGroup]="form" class="grid grid-cols-2 gap-x-3 gap-y-2">
    <p-iftalabel class="col-span-2">
      <textarea autoResize fluid formControlName="description" id="description" pTextarea rows="4"></textarea>
      <label for="description">Description de l'offre</label>
    </p-iftalabel>

    <!--  Products-->
    <div class="col-span-2 grid grid-cols-1" formArrayName="products">
      <div class="col-span-2 mb-2 space-x-2.5">
        Produits
        <p-button (onClick)="addElement('products')" icon="pi pi-plus" outlined rounded severity="success" size="small"/>
      </div>

      @for (product of f.products.controls; track product; let i = $index; let last = $last) {
        <div [formGroupName]="i" class="col-span-2 grid grid-cols-2 gap-x-2.5" [class.mb-1]="!last">
          <p-iftalabel>
            <input fluid formControlName="name" id="product-name-{{i}}" name="product-name-{{i}}e" pInputText required/>
            <label for="product-name-{{i}}">Nom du produit</label>
          </p-iftalabel>

          <p-iftalabel>
            <p-input-number id="product-quantity-{{i}}" fluid inputId="product-quantity-{{i}}" min="1" name="product-quantity-{{i}}" step="2" formControlName="quantity"/>
            <label for="product-quantity-{{i}}">Quantité (en {{ getProductQuantitySuffix(product.controls.unit.value) }})</label>
          </p-iftalabel>
        </div>
      }
    </div>

    <!-- Itinerary -->
    <ng-container formGroupName="itinerary">
      <div class="col-span-2">Itinéraire</div>
      <p-iftalabel>
        <input fluid formControlName="depart" id="itinerary-depart" name="itinerary-depart" pInputText required/>
        <label for="itinerary-depart">Départ</label>
      </p-iftalabel>
      <p-iftalabel>
        <input fluid formControlName="arrival" id="itinerary-arrival" name="itinerary-arrival" pInputText required/>
        <label for="itinerary-arrival">Déstination</label>
      </p-iftalabel>
    </ng-container>

    <!-- Rotation -->
    <ng-container formGroupName="rotation">
      <div class="col-span-2">Rotation</div>

      <p-iftalabel>
        <p-input-number fluid formControlName="count" id="rotation-count" inputId="rotation-count" min="1" name="rotation-count" required/>
        <label for="rotation-count">Nombre de rotation</label>
      </p-iftalabel>

      <p-iftalabel>
        <p-select [options]="rotationFrequencies" fluid formControlName="frequency" id="rotation-frequency" inputId="rotation-frequency" name="rotation-frequency"/>
        <label for="rotation-frequency">Fréquence</label>
      </p-iftalabel>
    </ng-container>

    <!-- Trucks-->
    <div class="col-span-2 grid grid-cols-1" formArrayName="truckCategories">
      <div class="col-span-2 mb-2 space-x-2.5">
        Véhicules de transport
        <p-button (onClick)="addElement('truckCategories')" icon="pi pi-plus" outlined rounded severity="success" size="small"/>
      </div>

      @for (item of f.truckCategories.controls; track item; let i = $index; let last = $last) {
        <div [formGroupName]="i" class="col-span-2 grid grid-cols-2 gap-2.5" [class.mb-1]="!last">
          <p-iftalabel>
            <p-select fluid checkmark [options]="truckTypes" formControlName="truckType" id="truck-category-{{i}}" inputId="truck-category-{{i}}"
                      name="truck-category-{{i}}" required/>
            <label for="truck-category-{{i}}">Type</label>
          </p-iftalabel>

          <p-iftalabel>
            <p-input-number fluid formControlName="count" id="truck-count-{{i}}" inputId="truck-count-{{i}}" min="1" name="truck-count-{{i}}" required/>
            <label for="truck-count-{{i}}">Nombre de véhicule</label>
          </p-iftalabel>

          <p-iftalabel>
            <p-input-number fluid formControlName="capacity" id="truck-capacity-{{i}}" inputId="truck-capacity-{{i}}" min="1" name="truck-capacity-{{i}}" required/>
            <label for="truck-capacity-{{i}}">Capacité</label>
          </p-iftalabel>

          <p-iftalabel>
            <p-select fluid checkmark [options]="capacityUnit" formControlName="unit" id="truck-capacity-unit-{{i}}" inputId="truck-capacity-unit-{{i}}"/>
            <label for="truck-capacity-unit-{{i}}">Unité</label>
          </p-iftalabel>

          <div class="col-span-2 flex flex-nowrap justify-items-start items-center gap-2.5">
            <p>Système GPS</p>
            <div class="flex items-center">
              <p-radiobutton name="isGpsRequired" value="true" formControlName="isGpsRequired" inputId="isGpsRequired"/>
              <label for="with-gps-{[i}}" class="ml-2">Oui</label>
            </div>

            <div class="flex items-center">
              <p-radiobutton name="isGpsRequired" value="false" formControlName="isGpsRequired" inputId="isGpsRequired"/>
              <label for="with-gpa-{{i}}" class="ml-2">Non</label>
            </div>
          </div>
        </div>
      }
    </div>
  </form>
</app-dialog>
