<router-outlet />
<app-card class="flex flex-wrap justify-start items-baseline" title="Whereas recognition of the inherent dignity" topPadding>
  <p>{{ API_URL }}</p>
  <p-select size="small" styleClass="w-72">
    <ng-template #dropdownicon>
      <i [innerHTML]="imagePath"></i>
    </ng-template>
  </p-select>
</app-card>

<hr />
<p-button (onClick)="toggleScheme()" label="Check" />
<i class="pi pi-check"></i>

<div class="segment">
  <p-button icon="pi pi-check" label="Procéder au paiement" rounded severity="warn" />
</div>
