@reference 'tailwindcss';

.sk-line-material {
  @apply top-0 relative m-auto w-full;
}

.sk-line-material .sk-child {
  @apply w-full h-1 absolute top-0 inline-block origin-[0%_0%];
  -webkit-animation: sk-line-material 2s ease-in-out 0s infinite both;
  animation: sk-line-material 2s ease-in-out 0s infinite both;
}

/*noinspection CssUnknownProperty*/
@-webkit-keyframes sk-line-material {
  0%, 80%, 100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  40% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/*noinspection CssUnknownProperty*/
@keyframes sk-line-material {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

#http-loader {
  @apply top-0 left-0 w-full h-full fixed z-[9999];
}

.loader-bg {
  @apply h-full w-full absolute filter-[alpha(opacity=70)] opacity-100 bg-[rgba(0,0,0,0)];
}

.colored-parent,
.colored > div {
  background-color: rgba(26, 188, 156, 0.8);
}
