@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("primeicons/primeicons.css");

@import "../public/css/flags.css";
@import "tailwindcss";

@plugin "tailwindcss-primeui";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: inter, ubuntumono, ubuntu, system-ui;
  --color-gray-950: #030712;
}

@layer base {
  :root {
    color-scheme: light dark;
  }

  html {
    @apply antialiased bg-white dark:bg-gray-950;
  }

  body {
    @apply text-gray-800 dark:text-white/90;
    min-height: 100vh;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  [type=button], button {
    @apply cursor-pointer;
  }

  :disabled, .disabled {
    @apply cursor-not-allowed opacity-50;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }
}

@layer components {
  hr {
    @apply mx-auto my-2 border-b border-gray-950/10 dark:border-white/60;
  }

  .hint {
    @apply absolute select-none text-xs font-normal text-neutral-700 transition-opacity mx-1.5 dark:text-neutral-300;
  }

  .invalid {
    @apply absolute select-none text-xs font-normal text-red-600 transition-opacity mx-1.5;
  }

  .w-available {
    width: available;
    width: -webkit-fill-available;
  }

  .bg-blue-gradient {
    background: rgb(28, 24, 116);
    background: -moz-linear-gradient(120deg, rgba(28, 24, 116, 1) 0%, rgba(11, 76, 164, 1) 30%, rgba(3, 43, 96, 1) 54%, rgba(10, 52, 112, 1) 76%, rgba(17, 70, 146, 1) 100%);
    background: -webkit-linear-gradient(120deg, rgba(28, 24, 116, 1) 0%, rgba(11, 76, 164, 1) 30%, rgba(3, 43, 96, 1) 54%, rgba(10, 52, 112, 1) 76%, rgba(17, 70, 146, 1) 100%);
    background: linear-gradient(120deg, rgba(28, 24, 116, 1) 0%, rgba(11, 76, 164, 1) 30%, rgba(3, 43, 96, 1) 54%, rgba(10, 52, 112, 1) 76%, rgba(17, 70, 146, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1874", endColorstr="#114692", GradientType=1);
  }

  /* Accessibility focus */
  .focusable {
    @apply focus-visible:rounded-full focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-black dark:focus-visible:ring-white;
  }

  .focusable-offset {
    @apply focus-visible:ring-offset-2;
  }

  .focusable.white {
    @apply focus-visible:ring-white;
  }

  .focusable.green {
    @apply focus-visible:ring-green-500;
  }
}



