<nav>
  <div class="flex flex-col flex-wrap justify-items-start space-y-4">
    @for (item of navigations; track item.id) {
      <div [routerLink]="buildUrl(item.url)" routerLinkActive="cursor-default !text-purple-900/80 dark:!text-white !font-bold !text-xl"
           class="flex w-full cursor-pointer items-center justify-items-start p-2 space-x-2.5 text-purple-900/70 dark:text-gray-400">
        <ng-icon [name]="item.icon" size="16"></ng-icon>
        <span> {{ item.title }}</span>
      </div>
    }
  </div>
</nav>
