<nav>
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <div class="">
        <a [routerLink]="['/']" class="b-brand">
          <div class="b-bg">
            <i class="feather icon-trending-up"></i>
          </div>
          <span class="b-title">Datta Able</span>
        </a>
      </div>
      <a class="mobile-menu on" href="javascript:" id="mobile-collapse"><span></span></a>

    </div>
    <!--    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100" />-->
    <div style="height: 1300px">
      content
    </div>
  </div>
</nav>
